.box {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: space-around;
	height: 100vh;
	flex-direction: column;
}

.foto {
	width: 95.33px;
	height: 58.66px;
	border-radius: 100px;
	margin-left: 10px;
	box-shadow: 1px 1px 10px grey;
}

h1 {
	font-family: helvetica;
}